.card{
    margin: 1rem auto;
}


.establishments-card{
margin-top: 1rem;
margin-bottom: 1rem;
 padding-left: 1rem;
 padding-right: 1rem;

 .establishments-card-inner{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);

 }
 

 .card-image{
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
    max-width: 100%;
    object-fit: cover;
 }

 .card-inner-content{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding: 1.5rem;

     .card-title{
         font-size: 20px;
         font-weight: 700;
         width: 100%;
     }

     .card-price{
         font-weight: normal;
         color: green;
         font-weight: 600;
         margin-top: 1rem;
         text-transform: capitalize;
         font-size: 16px;
         width: 100%;
         display: inline-block;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            text-transform: uppercase;
            touch-action: manipulation;
     }

     .card-desc{
         width: 100%;
         font-size: 0.85rem;
         margin-top: 1rem;
         margin-bottom: 0.5rem;
         line-height: 1.5;
     }

     .card-readmore{
         margin-top: 1rem;
     }

     .card-button{
         width: 100%;
        margin: 1rem auto;
        padding: 0.75rem;
     }


 }
}

.card-inner{
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        max-width: 54px;
    }

    h3{
        font-size: 18px;
        margin: 1rem auto;
    }
    p{
        font-size: 14px;
        line-height: 1.5;
    }
}



@media only screen and (min-width: 768px) {
    /* For desktop: */

    .establishments-card{

    }


    .card-image{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0px;
       max-width: 100%;
       object-fit: cover;
    }

  }
