.col-m-12{
    width: 100%;
    flex-basis: 100%;

}

.col-m-11{
    width: 91.63%;
    flex-basis: 91.63%;
}

.col-m-10{
    width: 83.30%;
    flex-basis: 83.30%;
}

.col-m-9{
    width: 74.97%;
    flex-basis: 74.97%;
}

.col-m-8{
    width: 66.64%;
    flex-basis: 66.64%;
}

.col-m-7{
    width: 58.31%;
    flex-basis: 58.31%;
}

.col-m-6{
    width: 49.98%;
    flex-basis: 49.98%;
}

.col-m-5{
    width: 41.65%;
    flex-basis: 41.65%;
}

.col-m-4{
    width: 33.32%;
    flex-basis: 33.32%;
}

.col-m-3{
    width: 24.99%;
    flex-basis: 24.99%;
}

.col-m-2{
    width: 16.66%;
    flex-basis: 16.66%;
}

.col-m-1{
    width: 8.33%;
    flex-basis: 8.33%;
}




.col {
    padding-left: 1rem;
    padding-right: 1rem;

}


@media only screen and (min-width: 479px) {
    .col-sm-12{
        width: 100%;
        flex-basis: 100%;
    
    }
    
    .col-sm-11{
        width: 91.63%;
        flex-basis: 91.63%;
    }
    
    .col-sm-10{
        width: 83.30%;
        flex-basis: 83.30%;
    }
    
    .col-sm-9{
        width: 74.97%;
        flex-basis: 74.97%;
    }
    
    .col-sm-8{
        width: 66.64%;
        flex-basis: 66.64%;
    }
    
    .col-sm-7{
        width: 58.31%;
        flex-basis: 58.31%;
    }
    
    .col-sm-6{
        width: 49.98%;
        flex-basis: 49.98%;
    }
    
    .col-sm-5{
        width: 41.65%;
        flex-basis: 41.65%;
    }
    
    .col-sm-4{
        width: 33.32%;
        flex-basis: 33.32%;
    }
    
    .col-sm-3{
        width: 24.99%;
        flex-basis: 24.99%;
    }
    
    .col-sm-2{
        width: 16.66%;
        flex-basis: 16.66%;
    }
    
    .col-sm-1{
        width: 8.33%;
        flex-basis: 8.33%;
    }
}




@media only screen and (min-width: 768px) {
    /* For desktop: */

    .col-d-12{
        width: 100%;
        flex-basis: 100%;
    
    }
    
    .col-d-11{
        width: 91.63%;
        flex-basis: 91.63%;
    }
    
    .col-d-10{
        width: 83.30%;
        flex-basis: 83.30%;
    }
    
    .col-d-9{
        width: 74.97%;
        flex-basis: 74.97%;
    }
    
    .col-d-8{
        width: 66.64%;
        flex-basis: 66.64%;
    }
    
    .col-d-7{
        width: 58.31%;
        flex-basis: 58.31%;
    }
    
    .col-d-6{
        width: 49.98%;
        flex-basis: 49.98%;
    }
    
    .col-d-5{
        width: 41.65%;
        flex-basis: 41.65%;
    }
    
    .col-d-4{
        width: 33.32%;
        flex-basis: 33.32%;
    }
    
    .col-d-3{
        width: 24.99%;
        flex-basis: 24.99%;
    }
    
    .col-d-2{
        width: 16.66%;
        flex-basis: 16.66%;
    }
    
    .col-d-1{
        width: 8.33%;
        flex-basis: 8.33%;
    }

  }