.establishments, .single-establishment{
    padding: 48px 0;
}



.establishments-sort{
    width: 100%;
}

.establishment-item{
    width: 100%;
    padding: 1rem;
    
    .establishment-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .establishment-left{
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
        height: 50px;

        .establishment-label{
            padding: 0 1rem;
            min-width: 84px;
        }
    }

    .establishment-right{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        background: #012C6D;
        height: 50px;
    }

    .establishment-name{
        padding: 0 1rem;
        font-size: 14px;
        font-weight: bold;
    }

    .establishment-image{
        max-width: 100%;
        min-width: 84px;
        height: 52px;
        object-fit: cover;
    }

    .establishment-button{
        margin: 0.5rem;
        width: 80px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .establishments{
        padding: 96px 0;
    }

    .establishment-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1140px;
        margin: auto;
    }

    .establishment-item{
        width: 50%;
        .establishment-name{
            width: unset;
        }
    }

    .establishments-card{
        .card-image{
            width: 33.33%;
            flex-basis: 33.33%;
        }

        .card-inner-content{
            width: 66.66%;
        }
    }

    .single-establishment{
        padding: 194px 0;
    }

  }

