footer{
 
 

    .footer-inner{
        background: #003BA1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        margin-bottom: 0;
        flex-wrap: wrap;
        padding: 2rem 0;

        .footer-nav{
            text-align: center;
        }

        .footer-list{
           
        }

        .footer-brand{
            text-align: center;
            margin: 2rem auto;
        }

        .footer-contact{
            text-align: center;
   
        }

        .footer-list-item{
            padding: 12px 0;
        }
    }
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    footer{
        .footer-inner{
     
            .footer-nav{
                text-align: left;
            }

            .footer-brand{
                text-align: center;
            }
    
            .footer-contact{
                text-align: right;
       
            }

        }
    }
    

  }