.login-form-wrapper{
    max-width: 320px;
    padding: 2rem;
    margin: 0 auto;
    background: #003BA1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

fieldset{
    border-color: ¤;
}

.form-wrapper{
    max-width: 558px;
    padding: 1rem;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form {
    order: 2;
    background: #003BA1;
    padding: 1.5rem;
    width: 100%;
    .form-group{
        margin: 1rem auto;

        input, select, textarea{
            padding: 0.75rem;
            border-radius: 8px;
            border: 0;
            width: 100%;
        }

        textarea{
            height: 80px;
        }

        p{
            color: red;
            margin: 5px auto;
            font-size: 14px;
        }
    }
}

.form-right{
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #003BA1;
    width: 100%;

    .contact-list{
        padding: 1.5rem;

        .contact-list-item{
            margin-top: 2rem;
            margin-bottom: 1rem;

            svg{
                font-size: 40px;
                color: #FE981E;
            }

            p{
                color: #fff;
                font-size: 15px;
                margin: 0.75rem auto;
            }
        }
    }

}