.hero{
    position: relative;
    background-image: url("../../media/hero.jpg");
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 156px;
}

#color-overlay {


 }