.navbar-wrapper{
    background-color: #012C6D;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    max-width: 1140px;
    margin: auto;
    color: #fff;
    position: relative;
        .nav-logo{
            display: flex;
            position: absolute;
            font-size: 24px;
            top: 50;
            left: 1rem;
        }

    .nav-menu{
        display: none;
    }

    .nav-menu-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #012C6D;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
        z-index: 999;
    }

    .nav-menu{
        .nav-links{
            color: #fff;
            text-decoration: none;
            text-align: center;
            height: 100%;
            transition: all 0.5s ease-out;
            
        }
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: #fff;
        background: #012C6D;
        border: none;
        outline: none;
        top: 50;
        right: 1rem;
    }

    .nav-item{
    text-align: center;
    padding: 1rem;
    }

    .nav-link:hover{
        color: red;
    }

    .nav-icon{
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .logout-button{
        background: #ffab00;
        border: none;
        font-weight: 600;
        padding: 0.5rem 1rem;
        width: 120px;
        margin: 0.5rem 0rem 0.5rem 1rem;
        &:hover{
            background: #fff;
            transition: width 0.7s ease, background-color 0.5s ease;
        }
    }
}

.goback{
    font-weight: bold;
    color: blue;
}

@media screen and (min-width: 768px) {
    .navbar{
        .nav-logo{
            color: #fff;
            text-decoration: none;
            align-items: center;
            padding-left: 20px;
            cursor: pointer;
            font-size: 24px;
            flex-grow: 1;
        }
    
        .nav-menu{
            display: flex;
            justify-content: flex-end;
            list-style: none;
            align-items: center;
            width: 100%;
        }

        .nav-item{
            display: flex;
            align-items: center;
            padding: 10px 0;
            &--admin{
                padding-right: 20px;
            }

        }
    
        .nav-links{
            color: #fff;
            text-decoration: none;
            margin: 20px;
            height: 100%;
            border-bottom: 3px solid transparent;
            font-size: 18px;
        }
    
        .mobile-menu-icon{
            display: none;
        }
    }
}