.pageheading{
    width: 100%;
    text-align: center;
    z-index: 899;
    margin: auto;
    color: #fff;
    font-size: 32px;
    padding: 0 1rem;
    margin: 2rem auto;

    span{
        color: #FE981E;
    }
}