.pageheading{
    width: 100%;
    text-align: center;
    z-index: 899;
    margin: auto;
    color: #012C6D;
    font-size: 32px;
    padding: 0 1rem;
    margin: 1rem auto;

    span{
        color: #ffab00;
    }

    &--sub{
        font-size: 24px;
    }
}


@media only screen and (min-width: 768px) {
    /* For desktop: */

    .pageheading{
        font-size: 48px;

        &--sub{
            font-size: 36px;
        }
    }

  }