@import './partials/container';
@import './partials/nav';
@import './partials/wrapper';
@import './partials/hero';
@import './partials/form';
@import './partials/button';
@import './partials/bookingbox';
@import './partials/row';
@import './partials/col';
@import './partials/pageheading';
@import './partials/explorebergen';
@import './partials/card';
@import './partials/sectionwrapper';
@import './partials/establishments';
@import './partials/typehead';
@import './partials/footer';
@import './partials/modal';
@import './partials/messages';

*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

html{
    height: 100%;
    position: relative;
}

a{
    color: inherit;
}

body{
    font-family: sans-serif;
    background: #f2f2f2;
    
}

