@import './partials/container';
@import './partials/nav';
@import './partials/wrapper';
@import './partials/hero';
@import './partials/form';
@import './partials/button';
@import './partials/bookingbox';
@import './partials/row';
@import './partials/col';
@import './partials/pageheading';
@import './partials/explorebergen';
@import './partials/card';
@import './partials/sectionwrapper';
@import './partials/establishments';
@import './partials/typehead';
@import './partials/footer';
@import './partials/modal';
@import './partials/messages';

*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

html{
    height: 100%;
    position: relative;
}

a{
    color: inherit;
}

body{
    font-family: sans-serif;
    background: #f2f2f2;
    
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #ffab00;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffab00 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  